{% extends 'base.html' %}


{#{% block content %}#}
{#    <form class="mt-4">#}
{#        <div class="form-group">#}
{#            <label for="titleInput">Title</label>#}
{#            <input type="email" class="form-control" id="titleInput" placeholder="How to build a moon park?">#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="TextInput">Text</label>#}
{#            <textarea class="form-control" id="TextInput" placeholder="Really, how? Have no idea about it" rows="15"></textarea>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="tagsInput">Tags</label>#}
{#            <input type="email" class="form-control" id="tagsInput" placeholder="#moon, #park, #puzzle">#}
{#        </div>#}
{#        <button type="button" class="btn btn-outline-dark mt-1">ASK!</button>#}
{#    </form>#}
{#{% endblock content %}#}



{% load bootstrap4 %}

{% block content %}
    <form class="mt-4" method="POST" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-outline-dark mb-2">Ask!</button>
    {% endbuttons %}
    </form>
{% endblock content %}