<div class="pagination my-3">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"><button type="button" class="btn btn-outline-dark">first</button></a>
            <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-outline-dark">previous</button></a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-outline-dark">next</button></a>
        <a href="?page={{ page_obj.paginator.num_pages }}"><button type="button" class="btn btn-outline-dark">last</button></a>
        {% endif %}
    </span>
    </div>